
# Environment variables and secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Django database
db.sqlite3

# Node.js
node_modules/
dist/

# macOS
.DS_Store
 HEAD
node_modules
 d03a113 (Add VOXE dashboard layout)
