appnope==1.0.0
asgiref==3.12.1
asttokens==3.0.2
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.5
cffi==2.1.1
channels==4.3.2
comm==0.2.3
constantly==23.10.4
cryptography==50.0.2
daphne==4.2.3
debugpy==1.8.22
dj-database-url==3.1.2
Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
executing==2.2.1
hyperlink==21.0.0
idna==3.20
Incremental==24.11.0
ipykernel==7.4.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.10.0
jupyter_core==5.9.1
matplotlib-inline==0.2.2
msgpack==1.2.3
nest-asyncio2==1.7.3
packaging==26.3
parso==0.8.7
pexpect==4.9.0
platformdirs==4.12.3
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
pycparser==3.0
Pygments==2.21.0
PyJWT==2.15.1
pyOpenSSL==26.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pyzmq==27.2.0
service-identity==26.1.0
six==1.17.0
sqlparse==0.6.0
stack-data==0.6.3
tornado==6.5.10
traitlets==5.16.1
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
ujson==6.0.0
wcwidth==0.9.1
websocket-client==1.9.2
zope.interface==8.6
psycopg[binary]